<div class="comparison_product_table">
  <table>
    <tr>
      <th data-aos="fade-up" data-aos-duration="800">Position</th>
      <td data-aos="fade-up" data-aos-duration="800">Dynamic position | Original petsnowy frame</td>
      <td data-aos="fade-up" data-aos-duration="800">Upright position | Step-through frame</td>
      <td data-aos="fade-up" data-aos-duration="800">Dynamic position | Original petsnowy frame</td>
    </tr>

    <tr>
      <th data-aos="fade-up" data-aos-duration="800">Rider's height</th>
      <td data-aos="fade-up" data-aos-duration="800">Optimized for riders between 170-195 cm tall - One M-L frame size</td>
      <td data-aos="fade-up" data-aos-duration="800">Optimized for riders between 165-190 cm tall - M frame size</td>
      <td data-aos="fade-up" data-aos-duration="800">Optimized for riders between 170-195 cm tall - One M-L frame size</td>
    </tr>

    <tr>
      <th data-aos="fade-up" data-aos-duration="800">Cockpit</th>
      <td data-aos="fade-up" data-aos-duration="800">Yes</td>
      <td data-aos="fade-up" data-aos-duration="800">Yes</td>
      <td data-aos="fade-up" data-aos-duration="800">No</td>
    </tr>

    <tr>
      <th data-aos="fade-up" data-aos-duration="800">Wireless phone charging</th>
      <td data-aos="fade-up" data-aos-duration="800">Yes</td>
      <td data-aos="fade-up" data-aos-duration="800">Yes</td>
      <td data-aos="fade-up" data-aos-duration="800">No</td>
    </tr>

    <tr>
      <th data-aos="fade-up" data-aos-duration="800">Full bike weight</th>
      <td data-aos="fade-up" data-aos-duration="800">18.9 kg - including battery and mudguards</td>
      <td data-aos="fade-up" data-aos-duration="800">19.2 kg - including battery and mudguards</td>
      <td data-aos="fade-up" data-aos-duration="800">18.2 kg - including battery and mudguards</td>
    </tr>

    <tr>
      <th data-aos="fade-up" data-aos-duration="800">Battery</th>
      <td data-aos="fade-up" data-aos-duration="800">Removable Lithium ion battery</td>
      <td data-aos="fade-up" data-aos-duration="800">Removable Lithium ion battery</td>
      <td data-aos="fade-up" data-aos-duration="800">Removable Lithium ion battery</td>
    </tr>

    <tr>
      <th data-aos="fade-up" data-aos-duration="800">Battery range</th>
      <td data-aos="fade-up" data-aos-duration="800">Up to 70 km autonomy</td>
      <td data-aos="fade-up" data-aos-duration="800">Up to 70 km autonomy</td>
      <td data-aos="fade-up" data-aos-duration="800">Up to 70 km autonomy</td>
    </tr>

    <tr>
      <th data-aos="fade-up" data-aos-duration="800">Motor torque</th>
      <td data-aos="fade-up" data-aos-duration="800">45 Nm</td>
      <td data-aos="fade-up" data-aos-duration="800">45 Nm</td>
      <td data-aos="fade-up" data-aos-duration="800">30 Nm</td>
    </tr>

    <tr>
      <th data-aos="fade-up" data-aos-duration="800">Tyres</th>
      <td data-aos="fade-up" data-aos-duration="800">Puncture resistant petsnowy custom tyres</td>
      <td data-aos="fade-up" data-aos-duration="800">Puncture resistant petsnowy custom tyres</td>
      <td data-aos="fade-up" data-aos-duration="800">Puncture resistant petsnowy custom tyres</td>
    </tr>

<tr>
    <th data-aos="fade-up" data-aos-duration="800">Tyres width</th>
    <td data-aos="fade-up" data-aos-duration="800">47 mm</td>
    <td data-aos="fade-up" data-aos-duration="800">47 mm</td>
    <td data-aos="fade-up" data-aos-duration="800">42 mm</td>
  </tr>

<tr>
    <th data-aos="fade-up" data-aos-duration="800">Ride dashboard and navigation</th>
    <td data-aos="fade-up" data-aos-duration="800">Yes</td>
    <td data-aos="fade-up" data-aos-duration="800">Yes</td>
    <td data-aos="fade-up" data-aos-duration="800">Yes</td>
  </tr>
    
  </table>
</div>
