<div class="icon-text-wrapper">
  <div class="icon">
    {{ section.settings.section_icon }}
  </div>
  <div class="text">
    <p>{{ section.settings.section_text }}</p>
  </div>
</div>

{% schema %}
{
  "name": "Icon Text Section",
  "settings": [
    {
      "type": "icon_picker",
      "id": "section_icon",
      "label": "Section Icon"
    },
    {
      "type": "textarea",
      "id": "section_text",
      "label": "Section Text"
    }
  ]
}
{% endschema %}
