<div class="modal_popup">
  <div class="page-width">
    <div class="top_inno_iframe">
      <iframe src="https://www.youtube.com/embed/4Jm_4agXFLc"></iframe>
      <span class="close_popup">x</span>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "popup Section",
  "settings": [],
  "presets":[
    {
     "name": "popup Section"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
