{{ 'index-litter.css' | asset_url | stylesheet_tag }}

<div class="new-index-litter">
  <div class="page-width">
    <div class="img">
      <picture>
        <source media="(min-width: 901px)" data-srcset="{{ section.settings.pc_image | img_url: 'master' }}">
        <source media="(max-width: 900px)" data-srcset="{{ section.settings.mb_image | img_url: 'master' }}">
        <img
          alt="Litter Box"
          decoding="async"
          loading="lazy"
        >
      </picture>
    </div>
    <div class="litter-content">
      <p class="sub-title">SNOW+ Self-cleaning Litter Box</p>
      <p class="title"><span>Finally, a Litter Box </span><span>That Collects All</span> <span>Scoop Ideas</span></p>
      <div class="options">
        <div class="item">
          <p>Hands</p>
          <p>-free</p>
        </div>
        <i class="line"></i>
        <div class="item">
          <p>Zero</p>
          <p>Odor</p>
        </div>
        <i class="line"></i>
        <div class="item">
          <p>Less</p>
          <p>Mess</p>
        </div>
      </div>
      <a target="_blank" href="/products/snow-self-cleaning-litter-box" class="button">Order Now</a>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "new-index-litter",
  "settings": [
    {
      "type": "image_picker",
      "id": "pc_image",
      "label": "pc card image"
    },
    {
      "type": "image_picker",
      "id": "mb_image",
      "label": "mb card image"
    }
  ],
  "presets": [
    {
      "name": "new-index-litter"
    }
  ]
}
{% endschema %}
