{{ 'index-active.css' | asset_url | stylesheet_tag }}

<div class="active-index">
  <div class="page-width">
    <div class="bar-left">
      <p class="title"><span>25%</span> OFF SNOW+ Litter Box</p>
      <p class="desc">USA Free Holiday Gifts <i></i> Dec. 04-Dec.</p>
    </div>
    <a class="bar-btn" href="/products/snow-self-cleaning-litter-box"> Get the Deal </a>
  </div>
</div>

{% schema %}
{
  "name": "new-index-active",
  "presets": [
    {
      "name": "new-index-active"
    }
  ]
}
{% endschema %}
