<div class="new-index-litter">
  <div class="page-width">
    <div class="img">
      <picture>
        <source media="(min-width: 901px)" data-srcset="{{ section.settings.pc_image | img_url: 'master' }}">
        <source media="(max-width: 900px)" data-srcset="{{ section.settings.mb_image | img_url: 'master' }}">
        <img
          alt="Litter Box"
          decoding="async"
          loading="lazy"
        >
      </picture>
    </div>
    <div class="litter-content">
      <p class="sub-title">SNOW+ Self-cleaning Litter Box</p>
      <p class="sub-title">
        <span>Finally, a Litter Box </span><span>That Collects All</span> <span>Scoop Ideas</span>
      </p>
      <div class="options">
        <div class="item"></div>
      </div>
      <a target="_blank" href="/products/snow-self-cleaning-litter-box" class="button">Order Now</a>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "new-index-litter",
  "presets": [
    {
      "name": "new-index-litter"
    }
  ]
}
{% endschema %}
