<section class="product-three page-width">
  <div id="container"></div>
</section>
<style>
  .product-three #container {
    height: 300px;
    width: 100%;
    background-color: chocolate;
  }
</style>

{% schema %}
{
  "name": "product three",
  "presets": [
    {
      "name": "product three"
    }
  ]
}
{% endschema %}
