<div class="icon-text-wrapper">
  <div class="icon">
    <img src="{{ 'icon.png' | asset_url }}" alt="Icon">
  </div>
  <div class="text">
    <h2>{{ section.settings.title }}</h2>
    <p>{{ section.settings.description }}</p>
  </div>
</div>
