<link rel="stylesheet" href="{{ 'swiper.css' | asset_url }}">
<div class="swiper-video swiper page-width" id="swiper{{ section.id }}">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      <div class="swiper-slide">
        {% if block.type == 'video' %}
          <iframe
            src="https://www.youtube.com/embed/{{ block.settings.text }}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            width="100%"
            height="800px"
          ></iframe>
        {% endif %}
        {% if block.type == 'Img' %}
          <div class="inno_img">
            <img src="{{ block.settings.imagerow | img_url: 'master' }}" alt="petsnowy" loading="lazy">
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="swiper-pagination"></div>

  <div class="swiper-button">
    <div class="swiper-button-prev">
      {% render 'icon-arrow-video' %}
    </div>
    <div class="swiper-button-next">
      {% render 'icon-arrow-video' %}
    </div>
  </div>
</div>
<script>
  $(function () {
    const swiperVideoEl = document.querySelectorAll('.swiper-video');
    for (let i = 0; i < swiperVideoEl.length; i++) {
      const swiperVideoElId = swiperVideoEl[i].id;
      const mySwiper = new Swiper(`#${swiperVideoElId}`, {
        loop: true,
        effect: 'cube',
        speed: 600,
        preventDefault: false,
        slidesPerView: 'auto',
        freeModeMomentumBounce: false,
        pagination: {
          el: '.swiper-pagination',
          dynamicBullets: true,
          dynamicMainBullets: 2,
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });
    }
  });
</script>

{% schema %}
{
  "name": "swiper video",
  "blocks": [
    {
      "type": "video",
      "name": "video",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "video embed id"
        }
      ]
    },
    {
      "type": "Img",
      "name": "Img",
      "settings": [
        {
          "type": "image_picker",
          "id": "imagerow",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "swiper video"
    }
  ]
}
{% endschema %}
