<link rel="stylesheet" href="{{ 'swiper.css' | asset_url }}">
<div class="swiper">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      <div class="swiper-slide">
        {% if block.type == 'video' %}
          <iframe
            src="https://www.youtube.com/embed/{{ block.settings.text }}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        {% endif %}
        {% if block.type == 'Img' %}
          <div class="inno_img">
            <img src="{{ block.settings.imagerow | img_url: 'master' }}" alt="petsnowy" loading="lazy">
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <!-- 如果需要分页器 -->
  <div class="swiper-pagination"></div>

  <!-- 如果需要导航按钮 -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- 如果需要滚动条 -->
  <div class="swiper-scrollbar"></div>
</div>
<script>
  const mySwiper = new Swiper('.swiper', {
    loop: true,
    pagination: {
      el: '.swiper-pagination',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  });
</script>

{% schema %}
{
  "name": "Swiper",
  "blocks": [
    {
      "type": "video",
      "name": "video",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "video embed id"
        }
      ]
    },
    {
      "type": "Img",
      "name": "Img",
      "settings": [
        {
          "type": "image_picker",
          "id": "imagerow",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Swiper"
    }
  ]
}
{% endschema %}
