@import "pxToVw.scss";

.new-index-litter {
	background: #E0D5C1;

	p,
	span {
		line-height: normal;
	}

	picture,
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		display: block;
	}

	.litter-content {
		.sub-title {
			font-family: LeagueSpartan;
		}

		.title {
			span {
				display: block;
				font-family: LeagueSpartanBlack;

				&:first-child::first-letter {
					color: #D75F23;
				}
			}
		}
	}
}

@media screen and (min-width: 901px) {
	.new-index-litter {
		.page-width {
			display: flex;
		}

		.litter-content {
			padding: 93px 0px 111px;
		}

		.img {
			width: 612px;
			height: auto;
		}

		.options {
			display: flex;
			justify-content: flex-end;
			align-items: center;

			.item {
				p {
					font-family: LeagueSpartanBold;
					font-size: 35px;
					font-weight: 800;
					color: #837464;
					text-transform: uppercase;
				}
			}

			.line {
				display: block;
				width: 2px;
				height: 67px;
				background: #504030;
				margin: 0px 39px;
			}
		}

		.sub-title {
			font-size: 32px;
			font-weight: 400;
			color: #504030;
			line-height: 35px;
			margin-bottom: 18px;
			text-align: right;
		}

		.title {
			margin: 0px;
			margin-bottom: 50px;

			span {
				font-size: 63px;
				font-weight: 900;
				line-height: 60px;
				text-align: right;
			}
		}

		.button {
			all: unset;
			display: block;
			width: 280px;
			cursor: pointer;
			height: 79px;
			background: #504030;
			border-radius: 26px;
			text-align: center;
			font-size: 24px;
			line-height: 79px;
			margin-top: 65px;
			font-size: 36px;
			font-family: LeagueSpartanBold;
			font-weight: 800;
			color: #FFFFFF;
			text-transform: uppercase;
			margin-left: auto;
			transition: all 0.3s ease;

			&::after,
			&::before {
				display: none;
			}

			&:hover {
				color: #504030;
				background-color: #FFFFFF;
			}
		}


	}
}


@media screen and (max-width: 900px) {
	.new-index-litter {}
}