@import "pxToVw.scss";

.new-index-swiper-wrapper {}

@media screen and (min-width: 901px) {
	.new-index-swiper-wrapper {
		position: relative;
		width: 1200px;

		.new-index-swiper {
			width: 1059px;
		}

		picture,
		img {
			display: block;
			width: 227px;
			height: 533px;
			object-fit: contain;
		}
	}
}

@media screen and (max-width: 900px) {
	.new-index-swiper-wrapper {}
}