@import "pxToVw.scss";

.new-index-our {}

@media screen and (min-width: 901px) {
	.new-index-our {
		margin: 96px 0px 99px;

		.page-width {
			display: block;
			position: relative;
			width: 1200px;

			picture,
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				border-radius: 50px;
			}

			.btn {
				width: 286px;
				height: 54px;
				background: #96816B;
				border-radius: 24px;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				left: 156px;
				bottom: 110px;
				cursor: pointer;

				span {
					font-size: 31px;
					font-family: LeagueSpartanBold;
					font-weight: 800;
					color: #FFFFFF;
					margin-top: 5px;
				}

				i {
					display: block;
					background: url('./mouse.png') no-repeat center/cover;
					margin-left: 5px;
					transition: all 0.3s ease;
					width: 19px;
					height: 20px;
				}

				&:hover {
					i {
						transform: translate(5px, 0px);
					}
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.new-index-our {
		padding: vw(50px) 0px;

		.page-width {
			display: block;
			position: relative;
		}

		.btn {
			width: vw(232px);
			height: vw(44px);
			background: #96816B;
			border-radius: vw(21px);
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: vw(25px);
			font-family: LeagueSpartanBold;
			font-weight: 800;
			color: #FFFFFF;
			position: absolute;
			left: vw(84px);
			bottom: vw(43px);

			i {
				display: block;
				margin-left: vw(8px);
				background: url('./mouse.png') no-repeat center/cover;
				width: vw(16px);
				height: vw(16px);
			}
		}

		img,
		picture {
			display: block;
			width: 100%;
			height: auto;
			object-fit: contain;
			border-radius: vw(25px);
		}
	}

}