@import "pxToVw.scss";

.new-index-swiper {}

@media screen and (min-width: 901px) {
	.new-index-swiper {

		picture,
		img {
			display: block;
			width: 227px;
			height: 533px;
			object-fit: contain;
		}
	}
}

@media screen and (max-width: 900px) {
	.new-index-swiper {}
}