@import 'pxToVW.scss';

#new-product {
	variant-radios {
		.product-form__input input[type=radio]:checked+label {
			background-color: transparent;
		}

		.fieldset {
			display: flex;
		}

		fieldset label {
			padding: 0px;
			border: none;
			border-radius: 0px;
			position: relative;

			img {
				display: block;
				object-fit: contain;
				object-position: center;
			}
		}
	}

	.product_acessories-wrapper {
		overflow: auto;

		.add_product_list {
			display: flex;
		}
	}


}


@media screen and (min-width: 901px) {
	#new-product {
		variant-radios {
			fieldset label {
				img {
					width: 80px;
					height: 80px;
				}
			}
		}
	}
}



@media screen and (max-width: 900px) {
	#new-product {
		variant-radios fieldset label {
			img {
				width: vw(160px);
				height: vw(160px);
			}
		}
	}
}