@import "pxToVw.scss";

@media screen and (min-width: 901px) {
	.product-safety {
		margin-bottom: 120px;

		product-inventory {
			display: block;
			margin-top: 88px;
		}

		picture,
		img {
			width: 1200px;
			height: auto;
			object-fit: contain;
			display: block;
		}
	}
}

@media screen and (max-width: 900px) {}