@import "pxToVw.scss";

.product-inventory-wrapper .product-inventory {
	box-sizing: border-box;
	background: #ffffff;
	display: flex;

	.title {
		font-weight: 700;
		text-align: center;
	}

	.text {
		text-align: center;
	}

	.inventory {
		color: rgb(192, 144, 103);
		width: fit-content;
		font-weight: 700;
	}

	picture {
		display: block;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

@media screen and (min-width: 901px) {
	.product-inventory-wrapper .product-inventory {
		margin-top: 0px;
		margin-bottom: 60px;
		width: fit-content;
		align-items: center;
		border-radius: 10px;
		box-shadow: 2px 4px 12px rgba(0, 0, 0, .08);
		overflow: hidden;
		padding: 15px;

		.title {
			font-size: 16px;
			margin-bottom: 10px;
			margin: 0;
		}

		.text {
			margin-bottom: 10px;
			font-size: 12px;
		}

		.inventory {
			font-size: 12px;
			padding: 5px;
			margin: 0px auto;
		}

		picture {
			border-radius: 10px;
			height: 80px;
			margin-right: 10px;
			width: 107px;
		}
	}
}

@media screen and (max-width: 900px) {
	.product-inventory-wrapper .product-inventory {
		margin-bottom: vw(120px);
		width: fit-content;
		align-items: center;
		border-radius: vw(20px);
		box-shadow: vw(4px) vw(8px) vw(24px) rgba(0, 0, 0, .08);
		overflow: hidden;
		padding: vw(30px);

		.title {
			font-size: vw(28px);
			margin-bottom: vw(20px);
			margin: 0;
		}

		.text {
			margin-bottom: vw(20px);
			font-size: 12px;
		}

		.inventory {
			font-size: vw(24px);
			padding: vw(10px);
			margin: 0px auto;
		}

		picture {
			border-radius: vw(20px);
			height: vw(160px);
			margin-right: vw(20px);
			width: vw(220px);
		}
	}
}