.product-swiper {
	background-color: #e0d6c1;

	.product-swiper-wrapper {
		position: relative;
		padding: 70px 0px 53px;

		.swiper-wrapper {
			.swiper-slide {

				picture,
				img {
					width: auto;
					height: 565px;
					object-fit: contain;
					display: block;
					margin-left: 70px;
				}
			}
		}

		.title {
			all: unset;
			left: 504px;
			position: absolute;
			top: 170px;

			picture,
			img {
				width: 542px;
				object-fit: contain;
			}
		}

		.swiper-button {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: absolute;
			top: 50%;
			width: 1200px;
			transform: translateY(-50%);
			z-index: 99;
			cursor: pointer;
		}

		.arrows-big {
			display: block;
			width: 40px;
			height: 95px;
			background: url('./arrows-big.png') no-repeat center/cover;
		}

		.product-swiper-button-next .arrows-big {
			transform: rotate(180deg);
		}
	}
}