@import "pxToVw.scss";
.contact-us {
  display: flex;
  .title {
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
  .contact-form {
    flex: 1;
  }
  form {
    display: grid;
    row-gap: 10px;
    textarea {
      resize: vertical;
    }
  }

  .contact__button {
    text-align: center;
  }
}
@media screen and (min-width: 901px) {
  .contact-us {
    .contact__fields {
      display: grid;
      column-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media screen and (max-width: 900px) {
  .contact-us {
    .contact__fields {
      display: grid;
      row-gap: vw(20px);
    }
  }
}
