.swiper-comment {

	p {
		margin: 0px;
	}

	.comment-info {
		display: flex;

		.star-wrapper {
			width: fit-content;
			margin-left: 20px;
		}

		img {
			width: 74px;
			height: 74px;
			border-radius: 50%;
		}

		ul {
			display: flex;
			column-gap: 5px;
			padding: 0px;
			margin: 0px;
		}

		li {
			list-style: none;
			width: 20px;
			height: 20px;
			background: url('./star_none.png') no-repeat center/cover;
		}

		li i {
			width: 0px;
			height: 20px;
			display: block;
			content: "";
			background: url('./star.png') no-repeat left/cover;
		}
	}
}