.swiper-comment {
	p {
		margin: 0px;
	}

	.star-wrapper {
		width: fit-content;
		height: 20px;

		ul {
			display: flex;
			column-gap: 5px;
		}

		li {
			list-style: none;
			width: 20px;
			height: 20px;
			background: url('../assets/star_none.png') no-repeat center/cover;
		}

		li i {
			width: 0px;
			height: 20px;
			display: block;
			content: "";
			background: url('../assets/star.png') no-repeat left/cover;
		}
	}

}