.swiper-background-img-text {
	p {
		margin: 0px;
	}

	.swiper-button {
		display: none;
	}

	.swiper-slide {
		width: 400px;
		height: 600px;
		position: relative;
		transition: all 0.8s ease;
		border-radius: 15px;
		overflow: hidden;

		img {
			position: absolute;
			top: 0px;
			left: 0px;
			object-fit: cover;
			object-position: right center;
			width: 400px;
			height: 600px;
			transition: all 0.8s ease;
		}

		.content {
			position: absolute;
			top: 50%;
			width: fit-content;
			height: fit-content;
			transform: translateY(-50%);
			left: 20px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}

		.sub-title {
			font-size: 20px;
			margin-bottom: 10px;
		}

		.title {
			font-size: 28px;
			margin-bottom: 10px;
		}

		.desc {
			font-size: 16px;
			margin-bottom: 10px;
		}


	}

	&:hover {
		.swiper-button {
			display: block;
		}
	}

	.swiper-slide-active {
		width: 800px;
		height: 600px;

		img {
			object-position: left center;
			width: 800px;
		}
	}
}