.swiper-background-img-text {
	.swiper-slide {
		width: 400px;
		height: 600px;
		position: relative;
		transition: all 0.8s ease;

		img {
			position: absolute;
			top: 0px;
			left: 0px;
			object-fit: cover;
			object-position: right center;
			width: 400px;
			height: 600px;
		}

		.content {
			position: absolute;
			top: 50%;
			width: fit-content;
			height: fit-content;
			transform: translateY(-50%);
			left: 20px;
			display: flex;
			align-items: center;
		}
	}

	.swiper-slide-active {
		width: 800px;
		height: 600px;

		img {
			object-position: left center;
		}
	}
}