$button-bg-color: #7e6e5f;
$main-bg-color: #e9e1cf;
$main-font-color: #000000;
$main-title-color:#45392e;
$product-price-color:#818181;
$product-title-color:#504030;
$product-icon-color: #d75f23;
$product-font-color: #5D5D5D;

@media screen and (max-width: 900px) {}


@media screen and (min-width: 901px) {

	#product-indiegogo {

		.swiper-wrapper {
			.swiper-slide {
				display: block;
				width: 640px;
				height: 420px;
				background: #ffffff;
				overflow: hidden;
				border-radius: 25px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.product__info-container {
			position: static;
		}

		.product__media-list {
			li:not(.is-active) {
				display: none;
			}
		}

		.grid__item.product__media-wrapper {
			width: 640px;
			max-width: 640px;
			overflow: hidden;

			modal-opener {
				border-radius: 25px;
				width: 640px;
				overflow: hidden;

				img {
					width: 640px;
					height: auto;
					object-fit: contain;
				}
			}

			.thumbnail-slider {
				background-color: #ffffff;
				border-radius: 25px;
				overflow: hidden;

				.slider-button {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					width: 40px;
					height: 68px;
					background-color: red;
					z-index: 10;
				}

				.slider-button--next {
					right: 0px;
				}

				.slider-button--prev {
					left: 0px;
				}

				.thumbnail-list {
					width: fit-content;
					transition: all 0.3s ease;
					overflow: hidden;

					li.thumbnail-list__item {
						width: 640px;
						height: 420px;

						img {
							width: 100%;
							height: 100%;
							object-fit: contain;
						}
					}
				}
			}
		}

		.global-media-settings {
			border: none;
		}

		.product__info-wrapper {
			width: 560px;
			max-width: 560px;
			box-sizing: border-box;
			padding-left: 25px;

			.font {
				font-family: LeagueSpartanBlack;
				text-transform: uppercase;
				color: $main-title-color;
				font-weight: 600;
			}

			.product__title,
			.product__title h1 {
				@extend .font;
				font-size: 28px;
				margin-bottom: 0px;
				letter-spacing: 1px;
			}

			.product__title {
				margin-bottom: 5px;
				margin-top: 0px
			}

			.product__text {
				@extend .font;
				font-size: 39px;
				margin-top: 15px;
				letter-spacing: 2px;
			}

			.product-desc {
				font-family: LeagueSpartanBold;
				font-size: 20px;
				margin-bottom: 20px;
			}
		}

		.label_style {
			width: 150px;
			background: #ffffff;
			overflow: hidden;
			box-sizing: border-box;
			padding: 10px;
			display: flex;
			justify-content: center;
			border-radius: 10px;
			transition: all 0.3s ease;
		}

		.add_product_list {
			display: flex;
		}

		.price_with_discount {
			font-family: HelveticaBold;
			color: #616161;
			font-size: 12px;

			.money {
				@extend .price_with_discount
			}
		}

		variant-radios {
			margin-bottom: 20px;

			.form__label {
				font-family: LeagueSpartanBold;
				font-size: 20px;
				margin-bottom: 10px;
				color: $main-title-color
			}

			fieldset {
				display: flex;
				flex-wrap: wrap;
				gap: 25px
			}

			.product-form__input input[type=radio]:checked+label {
				border-color: $product-icon-color;
			}

			label {
				@extend .label_style;
				flex-direction: column;
				flex-wrap: wrap;
				align-content: center;
				box-sizing: border-box;
				margin: 0px;
				border: none;
				border: 2px solid transparent;

				img {
					width: 90px;
					height: 90px;
					object-fit: contain;
					margin-bottom: 10px;
				}

				p {
					@extend .price_with_discount;

					.money {
						@extend .price_with_discount
					}
				}
			}
		}

		.product_acessories-wrapper {
			margin-bottom: 20px;

			.product_acessories-title {
				font-family: LeagueSpartanBold;
				font-size: 20px;
				color: $main-title-color;
				margin-bottom: 20px;
			}

			.add_product_list {
				flex-wrap: wrap;
				gap: 25px;
			}


			.add_list_product {
				@extend .label_style;
				border: 2px solid transparent;

				input {
					width: 0px;
					position: absolute;
				}

				&:has(input[type="checkbox"]:checked) {
					border-color: $product-icon-color;
				}

				.quantity_addons {
					display: none;
				}

				.add_list_product_data {
					.quantity_addons {
						display: none;
					}
				}

				.add_list_product_image {
					display: flex;
					align-items: center;
					justify-content: center;
					margin-bottom: 10px;

					img {
						width: 70px;
						height: 70px;
						object-fit: contain;
					}
				}

				.price_title_align h3 {
					font-size: 12px;
					font-family: Helvetica;
					text-align: center;
					color: #616161;
				}

				.price {
					display: flex;
					flex-direction: row-reverse;
					justify-content: center;
					margin-top: 5px;
					column-gap: 5px;
				}

				.price_without_discount {
					font-family: Helvetica;
					color: #616161;
					text-decoration: line-through;
					font-size: 12px;

					.money {
						@extend .price_without_discount
					}
				}
			}
		}

		.product-add-quantity {
			margin-bottom: 10px;
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			width: fit-content;
			height: 50px;

			.product-form__input {
				flex: none;
			}

			product-form {
				margin-right: 20px;
			}

			.product-form__buttons {
				margin-right: 30px;

				button {
					margin: 0px;
					padding: 0;
					background: $button-bg-color;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 250px;
					height: 100%;
					border: none;

					&:hover {
						background-color: #ffffff;

						span {
							color: $button-bg-color;
						}
					}

					&::after,
					&::before {
						display: none;
					}

					span {
						font-family: LeagueSpartanBlack;
						font-size: 25px;
						font-weight: 900;
						color: #ffffff;
						letter-spacing: 0px;
						display: block;
						height: 50px;
						line-height: 50px;
						transition: all 0.3s ease;
					}
				}
			}

			.product-form__input {
				border-radius: 25px;
				overflow: hidden;
				background-color: #ffffff;
				margin-bottom: 0px;

				.quantity {

					&::after,
					&::before {
						display: none;
					}

					input {
						font-family: LeagueSpartanBlack;
						font-size: 15px;
						font-weight: 600;
						color: $product-font-color;
					}
				}

			}

		}

		.swiper-update-product {
			border-radius: 25px;
			overflow: hidden;

			.product-arrows {
				width: 24px;
				height: 46px;
				background: url('./product-main-arrows.png') no-repeat center/cover;
				display: block;
			}

			[class*='swiper-button-'] {
				&::after {
					display: none;
				}
			}

			.swiper-button-next .product-arrows {
				transform: rotate(180deg);
			}
		}

		.product-guarantee {
			height: 30px;
			width: 535px;
			margin: 30px 0px;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}

#MainContentIndex {
	padding-top: 0px !important;
}

#MainContentProduct {
	background-color: $main-bg-color;

	.banner__box:empty {
		display: none;
	}
}