@import "pxToVw.scss";
$background-color:#f6f3ec;
$color:#7e6e5f;

.video-scroll-wrapper {
	display: flex;
	align-items: center;

	.video-img {
		picture {
			display: block;
			width: 100%;
			height: 100%;

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}


@media screen and (min-width: 901px) {
	.video-scroll-wrapper {
		margin: 75px auto;
		padding: 40px;
		border-radius: 36px;
		background-color: $background-color;
		column-gap: 40px;

		.video-scroll-content {
			width: 248px;
			height: 137px;

			picture,
			img {
				width: 248px;
				display: block;
				object-fit: contain;
			}
		}

		.img-wrapper {
			flex: 1;
			overflow: hidden;
		}

		.video-img {
			width: 139px;
			height: 170px;
			background-color: #ffffff;
			position: relative;
			border-radius: 12px;
			display: flex;
			align-items: center;
			justify-content: center;
			user-select: none;
			cursor: pointer;

			img {
				width: 136px;
				height: 167px;
				display: block;
				border-radius: 12px;
			}
		}

		// .video-play {
		// 	width: 27px;
		// 	height: 27px;
		// 	background: url('./play.png') no-repeat center/cover;
		// 	position: absolute;
		// 	bottom: 10px;
		// 	right: 10px;
		// 	display: block;
		// }
	}

	.swiper {
		--swiper-theme-color: $color;
	}

	.portrait-screen {
		position: fixed;
		bottom: 20px;
		right: 20px;
		z-index: 100;
		width: 465px;
		height: 827px;
		display: none;
		border-radius: 10px;
		overflow: hidden;

		video {
			width: 465px;
			height: 827px;
			object-fit: contain;
		}



		.close {
			width: 40px;
			height: 40px;
			background: url('./close-product.png') no-repeat center/cover;
			position: absolute;
			top: 5px;
			right: 5px;
			display: block;
			z-index: 100;
			cursor: pointer;
		}
	}
}

@media screen and (max-width: 900px) {
	.video-scroll-wrapper {}
}