@import "pxToVw.scss";

.video-scroll-wrapper {
	.video-img {
		picture {
			display: block;
			width: 100%;
			height: 100%;

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}


@media screen and (min-width: 901px) {
	.video-scroll-wrapper {
		.video-img {
			width: 150px;
			height: 150px;
			background-color: #CA4040;
		}
	}

	.portrait-screen {
		position: fixed;
		bottom: 20px;
		right: 20px;
		z-index: 100;
		width: 375px;
		height: 800px;
		background-color: red;
		display: none;

		.close {
			width: 20px;
			height: 20px;
			background-color: aqua;
			position: absolute;
			top: 0px;
			right: 0px;
			border-radius: 50%;
			display: block;
		}
	}
}

@media screen and (max-width: 900px) {
	.video-scroll-wrapper {}
}